
.vs/SimpleSchoolSystem/v16/.suo
.vs/SimpleSchoolSystem/v16/Browse.VC.db
.vs/SimpleSchoolSystem/v16/Browse.VC.db-shm
.vs/SimpleSchoolSystem/v16/Browse.VC.db-wal
.vs/SimpleSchoolSystem/v16/Browse.VC.opendb
.vs/SimpleSchoolSystem/v16/ipch/AutoPCH/24e03e912cd62b94/SOURCE.ipch
.vs/SimpleSchoolSystem/v16/ipch/AutoPCH/2c3c1ea9dbb2472e/SOURCE.ipch
.vs/SimpleSchoolSystem/v16/ipch/AutoPCH/678ba7be3b41709f/MAIN.ipch
.vs/SimpleSchoolSystem/v16/ipch/AutoPCH/7e3fb56425a687c0/APPLICATION.ipch
.vs/SimpleSchoolSystem/v16/ipch/AutoPCH/c24541367b103e82/APPLICATION.ipch
.vs/SimpleSchoolSystem/v16/ipch/AutoPCH/cf42a8d8c282c1f7/APPLICATION.ipch
x64/Debug/SimpleSchoolSystem.pdb
x64/Debug/SimpleSchoolSystem.exe
SimpleSchoolSystem/x64/Debug/vc142.pdb
SimpleSchoolSystem/x64/Debug/vc142.idb
SimpleSchoolSystem/x64/Debug/SimpleSchoolSystem.log
SimpleSchoolSystem/x64/Debug/SimpleSchoolSystem.ilk
SimpleSchoolSystem/x64/Debug/SimpleSchoolSystem.exe.recipe
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/SimpleSchoolSystem.lastbuildstate
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/link.write.1.tlog
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/link.read.1.tlog
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/link.command.1.tlog
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/CL.write.1.tlog
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/CL.read.1.tlog
SimpleSchoolSystem/x64/Debug/SimpleSc.481b82b7.tlog/CL.command.1.tlog
SimpleSchoolSystem/x64/Debug/Main.obj
SimpleSchoolSystem/x64/Debug/Application.obj
SimpleSchoolSystem/SimpleSchoolSystem.vcxproj.user
SimpleSchoolSystem/SimpleSchoolSystem.vcxproj.filters
SimpleSchoolSystem/SimpleSchoolSystem.vcxproj
SimpleSchoolSystem.sln
