
.vs
x64/Debug/SimpleSchoolSystem.pdb
x64/Debug/SimpleSchoolSystem.exe
SimpleSchoolSystem/x64
SimpleSchoolSystem/SimpleSchoolSystem.vcxproj.user
SimpleSchoolSystem/SimpleSchoolSystem.vcxproj.filters
SimpleSchoolSystem/SimpleSchoolSystem.vcxproj
SimpleSchoolSystem.sln
